* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
}

body {
    background-color: #ececec;
}

input[name='slider_pagination'] {
    display: none;
}

.slider {
    width: 95vmin;
    height: 80vmin;
    padding: 5vh;
    margin: 0 auto;
    background-color: #608d64;
    box-shadow: 0 0 1.5rem #242424;
    border: 0.2rem solid #74996f;
    border-radius: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.content_wrapper {
    width: 60vmin;
    height: 60vmin;
    overflow: hidden;
    margin: 0 auto;
}


.content {
    display: flex;
    justify-content: space-between;
    width:  300vmin;
    height:  100%;
    transition: all 0.2s ease-out;
}



.img1 {
    width: 60vmin;
    object-fit: contain;
}

.img2 {
    width: 60vmin;
    object-fit: contain;
}

.img3 {
    width: 60vmin;
    object-fit: contain;
}

.img4 {
    width: 60vmin;
    object-fit: contain;
}

.img5 {
    width: 60vmin;
    object-fit: contain;
}

.pagination {
    display: flex;
}

label {
    display: block;
    width: 6vmin;
    height: 6vmin;
    border-radius: 100%;
    margin: 0.5vmin;
    cursor: pointer;
    transition: all 0.2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

label div {
    width: 3vmin;
    height: 3vmin;
    transition: all 0.2s ease-in;
    background: rgb(92, 92, 92);
    border-radius: 100%;
}

label:hover div{
    background: rgb(110, 110, 110);
    transform: scale(1.5);
}

label:active div {
    background: rgb(142, 188, 226);
    border: 0.2rem solid black;
    transform: scale(2);
}

#input1:checked ~ .wrapper  .pagination label:nth-of-type(1) div {
    background: rgb(142, 188, 226);
    transform: scale(1.5);
}
#input2:checked ~ .wrapper  .pagination label:nth-of-type(2) div {
    background: rgb(142, 188, 226);
    transform: scale(1.5);
}
#input3:checked ~ .wrapper  .pagination label:nth-of-type(3) div {
    background: rgb(142, 188, 226);
    transform: scale(1.5);
}
#input4:checked ~ .wrapper  .pagination label:nth-of-type(4) div {
    background: rgb(142, 188, 226);
    transform: scale(1.5);
}
#input5:checked ~ .wrapper  .pagination label:nth-of-type(5) div {
    background: rgb(142, 188, 226);
    transform: scale(1.5);
}

#input1:checked ~ .content_wrapper .content {
   transform: translateX(0);
 }

 #input1:checked ~ .content_wrapper .content :not(.img1) {
    opacity: 0;
 }
 #input2:checked ~ .content_wrapper .content :not(.img2) {
    opacity: 0;
 }
 #input3:checked ~ .content_wrapper .content :not(.img3) {
    opacity: 0;
 }
 #input4:checked ~ .content_wrapper .content :not(.img4) {
    opacity: 0;
 }
 #input5:checked ~ .content_wrapper .content :not(.img5) {
    opacity: 0;
 }

#input2:checked ~ .content_wrapper .content {
    transform: translateX(-60vmin);
}

#input3:checked ~ .content_wrapper .content {
    transform: translateX(-120vmin);
 }

#input4:checked ~  .content_wrapper .content {
    transform: translateX(-180vmin);
}

#input5:checked ~ .content_wrapper .content {
    transform: translateX(-240vmin);
 }

.text_content {
    width: 40vmin;
    height: 4vmin;
    overflow: hidden;
    display: flex;
}
.text_content_wrapper {
    display: flex;
    width: 200vmin;
    transition: all 0.2s ease-out;
    font-size: 3vmin;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif
}
.text {
    width: 40vmin;

}

#input1:checked ~ .wrapper .text_content .text_content_wrapper {
    margin-left: 0;
 }

#input2:checked ~ .wrapper .text_content .text_content_wrapper {
  transform: translateX(-40vmin);
}

#input3:checked ~ .wrapper  .text_content .text_content_wrapper {
    transform: translateX(-80vmin);
 }

#input4:checked ~ .wrapper  .text_content .text_content_wrapper {
    transform: translateX(-120vmin);
}

#input5:checked ~ .wrapper  .text_content .text_content_wrapper {
    transform: translateX(-160vmin);
 }