* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
}

body {
    background-color: #c2c2c2;
}

input[name='slider_pagination'] {
    display: none;
}

.slider {
    width: 80vh;
    height: 80vh;
    padding: 5vh;
    margin: 0 auto;
    background-color: #216927;
    border-radius: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;;
}

.content_wrapper {
    width: 40vh;
    height: 40vh;
    overflow: hidden;
    margin: 0 auto;
}


.content {
    display: flex;
    width:  200vh;
    height:  100%;
    transition: all 0.2s ease-out;
}

.img1 {
    width: 40vh;
    background: url('') center center/cover;
}

.img2 {
    width: 40vh;
    background: url('') center center/cover;
}

.img3 {
    width: 40vh;
    background: url('') center center/cover;
}

.img4 {
    width: 40vh;
    background: url('') center center/cover;
}

.img5 {
    width: 40vh;
    background: url('') center center/cover;
}

.pagination {
    display: flex;
}

label {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

label div {
    width: 1rem;
    height: 1rem;
    transition: all 0.2s ease-in;
    background: rgb(155, 153, 153);
    border-radius: 100%;
}

label:hover div{
    background: rgb(110, 110, 110);
}

label:active div {
    background: rgb(142, 188, 226);
    border: 0.2rem solid black;
    transform: scale(2);
}




#input1:checked ~ .wrapper  .pagination label:nth-of-type(1) div {
    background: rgb(142, 188, 226);
    transform: scale(1.5);
}
#input2:checked ~ .wrapper  .pagination label:nth-of-type(2) div {
    background: rgb(142, 188, 226);
    transform: scale(1.5);
}
#input3:checked ~ .wrapper  .pagination label:nth-of-type(3) div {
    background: rgb(142, 188, 226);
    transform: scale(1.5);
}
#input4:checked ~ .wrapper  .pagination label:nth-of-type(4) div {
    background: rgb(142, 188, 226);
    transform: scale(1.5);
}
#input5:checked ~ .wrapper  .pagination label:nth-of-type(5) div {
    background: rgb(142, 188, 226);
    transform: scale(1.5);
}

#input1:checked ~ .wrapper  .content_wrapper .content {
    margin-left: 0;
 }

#input2:checked ~ .wrapper  .content_wrapper .content {
   margin-left: -100%;
}

#input3:checked ~ .wrapper  .content_wrapper .content {
    margin-left: -200%;
 }

#input4:checked ~ .wrapper  .content_wrapper .content {
   margin-left: -300%;
}

#input5:checked ~ .wrapper  .content_wrapper .content {
    margin-left: -400%;
 }

.text_content {
    background-color: rgb(255, 255, 255);
    width: 40vh;
    height: 2rem;
    overflow: hidden;
    display: flex;
}
.text_content_wrapper {
    display: flex;
}
.text {
    width: 40vh;
}

#input1:checked ~ .wrapper .text_content .text_content_wrapper {
    margin-left: 0;
 }

#input2:checked ~ .wrapper .text_content .text_content_wrapper {
   margin-left: -100%;
}

#input3:checked ~ .wrapper  .text_content .text_content_wrapper {
    margin-left: -200%;
 }

#input4:checked ~ .wrapper  .text_content .text_content_wrapper {
   margin-left: -300%;
}

#input5:checked ~ .wrapper  .text_content .text_content_wrapper {
    margin-left: -400%;
 }