* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
}

body {
    background-color: #ececec;
}

input[name='slider_pagination'] {
    display: none;
}

.slider {
    width: 95vmin;
    height: 80vmin;
    margin: 0 auto;
    padding: 2.5vmin;
    background-color: #608d64;
    display: grid;
    grid-template-columns: 50vmin 35vmin;
    grid-template-rows: 90% 5%;
    grid-template-areas:
    'A A'
    'B C';
    align-items: center;
    gap: 5vmin;
}


.content_wrapper {
    width: 85vmin;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    grid-area: A;
}


.content {
    display: flex;
    width:  425vmin;
    height:  100%;
    transition: all 0.2s ease-out;
}



.img1, .img2, .img3, .img4, .img5 {
    width: 85vmin;
    object-fit: scale-down;
}


.pagination {
    grid-area: C;
    display: flex;
    justify-self: end;
}

label {
    display: block;
    width: 4vmin;
    height: 4vmin;
    border-radius: 100%;
    margin: 1vmin;
    cursor: pointer;
    transition: all 0.2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

label div {
    width: 2vmin;
    height: 2vmin;
    transition: all 0.2s ease-in;
    background: rgb(92, 92, 92);
    border-radius: 100%;
}

label:hover div{
    background: rgb(110, 110, 110);
    transform: scale(1.5);
}

label:active div {
    background: rgb(142, 188, 226);
    border: 0.2rem solid black;
    transform: scale(2);
}

#input1:checked ~  .pagination label:nth-of-type(1) div {
    background: rgb(142, 188, 226);
    transform: scale(1.5);
}
#input2:checked ~ .pagination label:nth-of-type(2) div {
    background: rgb(142, 188, 226);
    transform: scale(1.5);
}
#input3:checked ~ .pagination label:nth-of-type(3) div {
    background: rgb(142, 188, 226);
    transform: scale(1.5);
}
#input4:checked ~ .pagination label:nth-of-type(4) div {
    background: rgb(142, 188, 226);
    transform: scale(1.5);
}
#input5:checked ~ .pagination label:nth-of-type(5) div {
    background: rgb(142, 188, 226);
    transform: scale(1.5);
}

#input1:checked ~ .content_wrapper .content {
   transform: translateX(0);
 }

 #input1:checked ~ .content_wrapper .content :not(.img1) {
    opacity: 0;
 }
 #input2:checked ~ .content_wrapper .content :not(.img2) {
    opacity: 0;
 }
 #input3:checked ~ .content_wrapper .content :not(.img3) {
    opacity: 0;
 }
 #input4:checked ~ .content_wrapper .content :not(.img4) {
    opacity: 0;
 }
 #input5:checked ~ .content_wrapper .content :not(.img5) {
    opacity: 0;
 }

#input2:checked ~ .content_wrapper .content {
    transform: translateX(-85vmin);
}

#input3:checked ~ .content_wrapper .content {
    transform: translateX(-170vmin);
 }

#input4:checked ~  .content_wrapper .content {
    transform: translateX(-255vmin);
}

#input5:checked ~ .content_wrapper .content {
    transform: translateX(-340vmin);
 }

.text_content {
    width: 40vmin;
    height: 4vmin;
    overflow: hidden;
    display: flex;
    grid-area: B;
}
.text_content_wrapper {
    display: flex;
    width: 200vmin;
    transition: all 0.2s ease-out;
    font-size: 3vmin;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif
}
.text {
    width: 40vmin;

}

#input1:checked ~ .text_content .text_content_wrapper {
    margin-left: 0;
 }

#input2:checked ~ .text_content .text_content_wrapper {
  transform: translateX(-40vmin);
}

#input3:checked ~ .text_content .text_content_wrapper {
    transform: translateX(-80vmin);
 }

#input4:checked ~ .text_content .text_content_wrapper {
    transform: translateX(-120vmin);
}

#input5:checked ~ .text_content .text_content_wrapper {
    transform: translateX(-160vmin);
 }

 @media (max-width: 768px) {
    
    .slider {
        grid-template-areas:
        'A'
        'C'
        'B';
        grid-template-rows: 55vmin 5vmin 5vmin;
        grid-template-columns: 100%;
    }

    .pagination {
        justify-self: center;
        width: 25%;
        
    }


 }